{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Presse à la carte</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- Development css -->
		<link rel="stylesheet" href="{% static 'src/css/style.css' %}">

		<!-- Production css -->
		<!-- <link rel="stylesheet" href="dist/css/style.css"> -->
	  
		<!-- google font -->
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&amp;display=swap" rel="stylesheet">
	  
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal flex flex-col h-screen">
		<header class="relative xl:fixed xl:right-0 xl:left-0 xl:top-0 z-50">
			<nav class="bg-black py-0 sm:py-4">
			   <div class="xl:container mx-auto px-3 sm:px-4 xl:px-2">
				 <div class="flex w-full justify-between">
				   <div class="mx-w-10 text-2xl font-bold capitalize text-white flex items-center"><a href="./">Presse à la carte</a></div>
				   
				   <div class="flex flex-row justify-between">
					<div class="text-gray-100 flex flex-shrink hover:bg-gray-300 block xl:hidden">
						<button type="button" class="menu-mobile block py-3 px-6 border-b-2 border-transparent">
						<span class="sr-only">Mobile menu</span>
						<svg class="inline-block h-6 w-6 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
						</svg> Menu
						</button>
					</div>
					<!-- nav menu -->
					<div class="flex">
						<ul class="navbar hidden xl:flex xl:flex-row text-gray-200 text-sm xl:text-lg items-center font-bold">
							<li class="relative border-l border-gray-800 hover:bg-gray-900">
								<a class="subscription block py-3 px-6 border-b-2 border-transparent" href="subscription">S'abonner</a>
							</li>
							</ul>
							<button class="hidden xl:flex items-center bg-gray-100 hover:bg-gray-400 text-gray-800 py-2 px-4 border border-gray-100">
								<a class="block border-b-2 border-transparent" href="login">Se connecter</a>
							  </button>
					</div>
					</div>
				 </div>
			   </div>
			</nav>
		 </header><!-- end header -->

		 
  <!-- Mobile menu -->
  <div class="xl:hidden side-area fixed w-full h-full inset-0 z-50">
    <!-- bg open -->
    <div class="back-menu fixed bg-gray-900 bg-opacity-70 w-full h-full inset-x-0 top-0">
      <div class="cursor-pointer text-white absolute right-64 p-2">
        <svg class="bi bi-x" width="2rem" height="2rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"></path>
          <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"></path>
        </svg>
      </div>
    </div>

    <!-- Mobile navbar -->
    <nav id="mobile-nav" class="side-menu xl:hidden flex flex-col right-0 w-64 fixed top-0 bg-white dark:bg-gray-800 h-full overflow-auto z-40">
      <div class="mb-auto">
        <!--navigation-->
        <nav class="relative flex flex-wrap">
          <div class="text-center py-4 w-full font-bold border-b border-gray-100">Presse à la carte</div>
          <ul id="side-menu" class="w-full float-none flex flex-col">
            <li class="relative">
              <a href="subscription" class="block py-2 px-5 border-b border-gray-100 hover:bg-gray-50">S'abonner</a>
            </li>

            <li class="relative">
              <a href="login" class="block py-2 px-5 border-b border-gray-100 hover:bg-gray-50">Se connecter</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- copyright -->
      <div class="py-4 px-6 text-sm mt-6 text-center">
        <p>Copyright <a href="#">Presse à la carte</a> - Tous droits réservés</p>
      </div>
    </nav>
  </div><!-- End Mobile menu -->

		  <!-- =========={ MAIN }==========  -->
		  <main id="content">
			
			<div id="advertising" class="hidden md:block bg-white">
                <div class="relative w-full">
                <img src="../../media/img/news/vacances.jpg" alt="ads" />
					<h2 class="absolute text-gray-800 px-4 py-8 md:text-3xl lg:text-5xl font-bold top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center">
						Abonnez-vous à la rubrique !</h2>
                </div>
              </div>
			<!-- block news -->
			<div class="bg-white pt-3">
			  <div class="xl:container mx-auto px-3 sm:px-4 xl:px-2">
				<div class="flex flex-row flex-wrap">
				  <div class="flex-shrink max-w-full w-full lg:w-full overflow-hidden">
					<div class="flex flex-row flex-wrap -mx-3">
					<!-- cote gauche-->
					<div class="flex-shrink max-w-full w-full md:w-1/2 px-3 pb-3 pt-3 sm:pt-0 border-b-2 sm:border-b-0 border-dotted border-gray-100">
						<div class="flex flew-wrap flex-col sm:flex-row sm:block hover-img text-xl">
							Plongez dans l'actualité captivante avec notre vente de journaux à la rubrique ! Restez informé(e) des dernières nouvelles, découvrez des reportages exclusifs et explorez les sujets qui vous passionnent.
						</div>
						<div class="flex flew-wrap flex-col sm:flex-row sm:block hover-img">
						  <a href="">
							<img class="w-1/4 mx-auto" src="../../media/img/news/maison.png" alt="alt title">
						  </a>
						  <div class="text-xl">Que vous soyez intéressé(e) par la politique, la culture, les sports ou les affaires, nos journaux vous offrent une expérience de lecture enrichissante et stimulante. Ne manquez pas cette occasion de vous tenir au courant et de vous connecter au monde qui vous entoure.</div>
						</div>
					  </div>				  
					  <!-- cote droit-->
					  <div class="max-w-full text-center md:w-1/2 px-3 pb-3 pt-3 sm:pt-0 border-b-2 sm:border-b-0 border-dotted border-gray-100">
						<h3 class="text-3xl font-bold ">Le premier journal à la carte</h3>
						<br />
						<h4 class="text-2xl">Avec Presse à la Carte, nous vous proposons un journal qui vous ressemble</h4>
						<h4 class="text-2xl"> à un prix défiant toute concurrence.</h4>
						<br />
						<h4 class="text-2xl">Vous ne payer que les articles qui vous intéressent</h4>
						<br />
						<ul class="justify-center flex flex-row text-gray-200 text-sm xl:text-lg items-center font-bold">
							<li class="relative border-l border-gray-800 hover:bg-gray-300 bg-gray-900">
								<a class="subscription block py-3 px-6 border-b-2 border-transparent" href="subscription">Je m'abonne</a>
							</li>
						</ul>
					  </div>

					</div>

				  </div>

				</div>

			  </div>
			</div>

		  </main><!-- end main -->
		
		  <!-- =========={ FOOTER }==========  -->
		  <footer class="bg-black text-gray-400 md:absolute md:left-0 md:right-0 md:bottom-0">
			<!--Footer content-->
			<div id="footer-content" class="relative pt-6 pb-6">
			  <div class="xl:container mx-auto px-3 sm:px-4 xl:px-2 overflow-hidden">
				<div class="flex flex-wrap flex-row lg:justify-between -mx-3">
				  <div class="flex-shrink max-w-full w-full w-12/12 lg:w-5/12 px-3">
					<div class="flex items-center justify-center lg:justify-left mb-2">
					  <span class="text-3xl leading-normal mb-2 font-bold text-gray-100 mt-2">Presse à la carte</span>
					</div>
					<div class="flex items-center justify-center lg:justify-left mb-2">
						<span>Nous créons des journaux à la rubrique pour chaque abonné.</span>

					</div>
				  </div>
				  <div class="flex-shrink  my-auto max-w-full w-full text-center w-12/12 lg:w-5/12 px-3">
					<p class="d-block my-3">Copyright © Presse à la carte | Tous droits réservés.</p>

				  </div>
				</div>
			  </div>
			</div>
		
		  <!-- =========={ SCROLL TO TOP }==========  -->
		  <a href="#" class="back-top fixed p-4 rounded bg-gray-100 border border-gray-100 text-gray-500 dark:bg-gray-900 dark:border-gray-800 right-4 bottom-4 hidden" aria-label="Scroll To Top">
			<svg width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			  <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V4a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
			  <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L8 3.707 5.354 6.354a.5.5 0 11-.708-.708l3-3z" clip-rule="evenodd"></path>
			</svg>
		  </a>
<!--Vendor js-->
<script src="{% static 'src/vendors/hc-sticky/dist/hc-sticky.js' %}"></script>
<script src="{% static 'src/vendors/glightbox/dist/js/glightbox.min.js' %}"></script>
<script src="{% static 'src/vendors/@splidejs/splide/dist/js/splide.min.js' %}"></script>
<script src="{% static 'src/vendors/@splidejs/splide-extension-video/dist/js/splide-extension-video.min.js' %}"></script>

<!-- Start development js -->
<script src="{% static 'src/js/theme.js' %}"></script>
<!-- End development js -->

<!-- Production js -->
<!-- <script src="dist/js/scripts.js"></script> -->

	</body>
</html>
